@import '@/styles/theme.css';

.signin-wrapper {
  width: 100%;
  max-width: 400px;
  height: 100%;
}

.signin-subtitle {
  color: var(--slate-11);
}

.signin-form {
  display: flex;
  flex-direction: column;
  gap: 44px;
}

.signin-field {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.signin-label {
  font-size: 0.875rem;
}

.signin-input {
  height: 34px;
  border-radius: 4px;
}

.signin-error {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 0.875rem;
  font-weight: 400;
  color: var(--danger);
}

.signin-button {
  width: 100%;
  border-radius: 4px;
  cursor: pointer;
}

.signin-create-account {
  font-size: 0.875rem;
  font-weight: 300;
}

.signin-create-button {
  cursor: pointer;
}

.signin-create-button:hover,
.signin-create-button:active {
  text-decoration: underline;
  background-color: transparent;
}
