.signin-wrapper {
   width: 100%;
   max-width: 400px;
   height: 100%;
}

.signin-subtitle {
   color: #B5B3AD;
}

.signin-form {
   display: flex;
   flex-direction: column;
   gap: 44px;
}

.signin-field {
   display: flex;
   flex-direction: column;
   gap: 4px;
}

.signin-label {
   font-size: 0.875rem;
   color: #B5B3AD;
}

.signin-input {
   height: 34px;
   border-radius: 5px;
}

.signin-error {
   display: flex;
   align-items: center;
   gap: 6px;
   font-size: 0.875rem;
   font-weight: 400;
   color: #f3373dff;
}

.signin-button {
   width: 100%;
   border-radius: 5px;
   cursor: pointer;
}

.signin-create-account {
   font-size: 0.875rem;
   font-weight: 300;
}

.signin-create-button {
   cursor: pointer;
}

.signin-create-button:hover {
   text-decoration: underline;
   background-color: transparent;
}
