@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lusitana:wght@400;700&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');
@import "tailwindcss";

@theme {
  /* fonts */
  --font-inter: "Inter", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  --font-lusitana: "Lusitana", Georgia, "Times New Roman", serif;
  --font-source: "Source Serif 4", Georgia, "Times New Roman", serif;

  /* colors */
  --color-white-50: #FAFAFA;
  --color-white-40: #EDEEF0;
  --color-white-30: #C3C6CB;
  --color-white-20: #999EA6;

  --color-slate-50: #80868E;
  --color-slate-40: #545B62;
  --color-slate-30: #363A3F;
  --color-slate-20: #2E3135;

  --color-black-50: #111113;
  --color-black-40: #161619;
  --color-black-30: #19191C;
  --color-black-20: #1E1E22;

  --color-accent-50: #684BDF;
  --color-accent-40: #7459E2;
  --color-accent-30: #7F66E4;

  --color-success-50: #1A8917;
  --color-success-40: #34A845;
  --color-success-30: #52BD62;

  --color-danger-50: #DC373D;
  --color-danger-40: #F54F55;
  --color-danger-30: #FF7671;

  /* spacings */
  --spacing-4.5: 1.125rem;
  --spacing-9.5: 2.375rem;

  /* font-size */
  --text-xs: 0.75rem;
  --text-sm: 0.8125rem;
  --text-md: 0.875rem;
}

:root {
  --color-background: var(--color-white-50);
  --color-text-primary: var(--color-black-50);
}

.dark {
  --color-background: var(--color-black-50);
  --color-text-primary: var(--color-white-50);
}

* {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  background-color: var(--color-background);
  color: var(--color-text-primary);
}


@layer components {
  .focus-ring {
    @apply focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-offset-2 focus-visible:ring-white-30 focus-visible:ring-offset-black-50;
  }
}