:root {
  --danger: #f3373d;

  --landing-text: #edeef0;
  --landing-bg: url('../assets/svgs/auth-landing-light.svg');

  --navigation-width: 312px;
}

.dark {
  --danger: #f3373d;

  --landing-text: #edeef0;
  --landing-bg: url('../assets/svgs/auth-landing-dark.svg');
}
